// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

//Application Colors
$primary-background: #e7f2f8;
$salmon: #ffa384;
$profile-background: #74bdcb;
$add-background: #ced4da;
